@model List<WebApplication_ERP.Models.DTOs.PersonAddressDTO_Contact>

@{
    ViewData["Title"] = "Contacts";
}



<head>
    <link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />
</head>

<div class="main-div">
    <div class="contacts-div">
        <h3> Contacts</h3>
        <table id="contacts-table">
            <thead class="table_header">
                <tr>
                    <th id="contacts-table-th1" class="contacts-table-th" scope="col">#</th>
                    <th id="contacts-table-th2" class="contacts-table-th" scope="col">Prénom</th>
                    <th id="contacts-table-th3" class="contacts-table-th" scope="col">Nom</th>
                    <th id="contacts-table-th4" class="contacts-table-th" scope="col">Tel.</th>
                    <th id="contacts-table-th5" class="contacts-table-th" scope="col">GSM</th>
                    <th id="contacts-table-th6" class="contacts-table-th" scope="col">Mail</th>
                    <th id="contacts-table-th7" class="contacts-table-th" scope="col">Adresse</th>
                    <th id="contacts-table-th8" class="contacts-table-th" scope="col">Code Postal</th>
                    <th id="contacts-table-th9" class="contacts-table-th" scope="col">Localité</th>
                    <th id="contacts-table-th10" class="contacts-table-th" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Firstname</td>
                        <td>@item.Lastname</td>
                        <td>@item.Phone</td>
                        <td>@item.Cellphone</td>
                        <td>@item.Mail</td>
                        <td>@item.Formated_Address</td>
                        <td>@item.PostalCode</td>
                        <td>@item.Locality</td>
                        <td>
                            <div class="contacts-table-buttons-td-div">
                                <button class="modify-button">
                                    <img class="modify-logo" src="~/images/modify-icon.svg" alt="Modifier" />
                                </button>
                                <button class="delete-button">
                                    <img class="delete-logo" src="~/images/delete-icon.svg" alt="Supprimer" />
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="right-button-div-contact" class="right-button-div">
            <button class="add-button" onclick="openContactForm()">
                <img class="add-logo" src="~/images/add-icon.svg" alt="Ajouter"/>
                Ajouter
            </button>
        </div>
    </div>
    <div class="organisations-div">
        <h3> Organisations et entreprises</h3>
        <table id="organisation-table">
            <thead class="table_header">
                <tr>
                    <th id="organisation-table-th1" class="organisation-table-th" scope="col">#</th>
                    <th id="organisation-table-th2" class="organisation-table-th" scope="col">Nom</th>
                    <th id="organisation-table-th3" class="organisation-table-th" scope="col">Adresse</th>
                    <th id="organisation-table-th4" class="organisation-table-th" scope="col">Code Postal</th>
                    <th id="organisation-table-th5" class="organisation-table-th" scope="col">Localite</th>
                    <th id="organisation-table-th6" class="organisation-table-th" scope="col">N° TVA</th>
                    <th id="organisation-table-th7" class="organisation-table-th" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>General Construction</td>
                    <td>Rue de la Station 44</td>
                    <td>4032</td>
                    <td>Chênée</td>
                    <td>BE 0425.548.797</td>
                    <td>
                        <div class="organisations-table-buttons-td-div">
                            <button class="modify-button">
                                <img class="modify-logo" src="~/images/modify-icon.svg" alt="Modifier" />
                            </button>
                            <button class="delete-button">
                                <img class="delete-logo" src="~/images/delete-icon.svg" alt="Modifier" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="right-button-div-organisation" class="right-button-div">
            <button class="add-button" onclick="openContactForm()">
                <img class="add-logo" src="~/images/add-icon.svg" alt="Ajouter"/>
                Ajouter
            </button>
        </div>
    </div>
    <div id="contact-form-div">
        <div id="contact-form-title-div">
            <h3>Ajouter contact</h3>
        </div>
        <div id="contact-form-top-div">
            <div class="contact-form-field-div">
                <label class="contact-form-label">Prénom :</label>
                <input id="prenom-input" class="contact-form-inputs" type="text" name="prenom" placeholder="Prenom">
                <img id="validate-logo-form-prenom" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div id="contact-form-requirement-div-prenom" class="contact-form-requirement-div">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Nom :</label>
                <input id="nom-input" class="contact-form-inputs" type="text" name="nom" placeholder="Nom">
                <img id="validate-logo-form-nom" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div id="contact-form-requirement-div-nom" class="contact-form-requirement-div">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Téléphone :</label>
                <input id="numero-telephone-input" class="contact-form-inputs" type="tel" name="numero-telephone" placeholder="000/00.00.00">
                <img id="validate-logo-form-numero-telephone" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div id="contact-form-requirement-div-numero-telephone" class="contact-form-requirement-div">
                <label class="contact-form-requirement-label">Le numéro de téléphone :</label>
                <label class="contact-form-requirement-label">Un numéro de téléphone ou gsm minimum est requis</label>
                <label class="contact-form-requirement-label">Ne doit contenir que des chiffres</label>
                <label class="contact-form-requirement-label">9 chiffres requis</label>
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">GSM :</label>
                <input id="numero-gsm-input" class="contact-form-inputs" type="tel" name="numero-gsm" placeholder="0000/00.00.00">
                <img id="validate-logo-form-numero-gsm" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div id="contact-form-requirement-div-numero-gsm" class="contact-form-requirement-div">
                <label class="contact-form-requirement-label">Le numéro de gsm :</label>
                <label class="contact-form-requirement-label">Un numéro de téléphone ou gsm minimum est requis</label>
                <label class="contact-form-requirement-label">Ne doit contenir que des chiffres</label>
                <label class="contact-form-requirement-label">10 chiffres requis</label>
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Mail :</label>
                <input id="email-input" class="contact-form-inputs" type="email" name="mail" placeholder="adresse@outlook.com">
                <img id="validate-logo-form-mail" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div class="contact-form-requirement-div">
                <label class="contact-form-requirement-label">L'adresse mail :</label>
                <label class="contact-form-requirement-label">Est requise</label>
                <label class="contact-form-requirement-label">Adresse mail invalide</label>
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Rue :</label>
                <input id="rue-input" class="contact-form-inputs" type="text" name="rue" placeholder="Rue">
                <img id="validate-logo-form-rue" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div class="contact-form-requirement-div">
                <label class="contact-form-requirement-label">Le nom de la rue :</label>
                <label class="contact-form-requirement-label">Est requis</label>
                <label class="contact-form-requirement-label">Ne doit pas contenir de caractères spéciaux $&/\:._()</label>
                <label class="contact-form-requirement-label">Ne doit pas contenir de chiffres</label>
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">n° :</label>
                <input id="number-input" class="contact-form-inputs" type="number" name="number" placeholder="00">
                <img id="validate-logo-form-number" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div class="contact-form-requirement-div">
                <label class="contact-form-requirement-label">Le numéro de la rue :</label>
                <label class="contact-form-requirement-label">Est requis</label>
                <label class="contact-form-requirement-label">Ne doit contenir que des chiffres</label>
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Boite :</label>
                <input id="boite-input" class="contact-form-inputs" type="number" name="boite" placeholder="000">
                <img id="validate-logo-form-boite" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Code Postal :</label>
                <input id="code-postal-input" class="contact-form-inputs" type="number" name="code-postal" placeholder="0000">
                <img id="validate-logo-form-code-postal" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div class="contact-form-requirement-div">
                <label class="contact-form-requirement-label">Le code postal :</label>
                <label class="contact-form-requirement-label">Est requis</label>
                <label class="contact-form-requirement-label">Ne doit contenir que des chiffres</label>
                <label class="contact-form-requirement-label">4 chiffres requis</label>
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Localité :</label>
                <input id="localite-input" class="contact-form-inputs" type="text" name="localite" placeholder="Localité">
                <img id="validate-logo-form-localite" class="validate-logo-form" src="~/images/cancelCircle-icon.svg" alt="LogoValidation" />
            </div>
            <div class="contact-form-requirement-div">
                <label class="contact-form-requirement-label">Le nom de la localité :</label>
                <label class="contact-form-requirement-label">Est requis</label>
                <label class="contact-form-requirement-label">Ne doit pas contenir de caractères spéciaux $&/\:._()</label>
                <label class="contact-form-requirement-label">Ne doit pas contenir de chiffres</label>
            </div>

        </div>
        <div id="contact-form-bottom-div">
            <button class="add-button-form">
                <img class="add-logo-form" src="~/images/add-icon.svg" alt="Ajouter" />
                Ajouter
            </button>
            <button class="check-button-form">
                <img class="check-logo-form" src="~/images/check-icon.svg" alt="Confirmer" />
                Confirmer
            </button>
            <button class="close-button-form" onclick="closeContactForm()">
                <img class="close-logo-form" src="~/images/close-icon.svg" alt="Annuler" />
                Annuler
            </button>
        </div> 
    </div>
    <div class="overlay" id="overlayContact"></div>
    
</div>

